<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list_item.description %>
</p>

<p>
  <strong>Done at:</strong>
  <%= @list_item.done_at %>
</p>

<p>
  <strong>Position:</strong>
  <%= @list_item.position %>
</p>

<%= link_to 'Edit', edit_stimulus_list_item_path(@list_item) %> |
<%= link_to 'Back', stimulus_list_items_path %>
