<h1>Home page</h1>

<p>Here you can find links to samples using differents webpack resources.</p>

<h2>Basic samples</h2>

<ul>
  <li><%= link_to 'Stimulus basic samples page', stimulus_path, data: { turbolinks: false } %></li>
  <li><%= link_to 'Vue basic samples page', vue_path, data: { turbolinks: false } %></li>
</ul>

<h2>Todo list CRUD samples</h2>
<ul>
  <li><%= link_to 'Default todo-list CRUD sample', list_items_path, data: { turbolinks: false } %></li>
  <li><%= link_to 'Stimulus todo-list CRUD sample', stimulus_list_items_path, data: { turbolinks: false } %></li>
  <li><%= link_to 'Vue todo-list CRUD sample', vue_list_items_path, data: { turbolinks: false } %></li>
</ul>