<!DOCTYPE html>
<html>
  <head>
    <title>WebpackSandbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'stimulus/stimulus', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'stimulus' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <main role="main" class="container">
      <div id="content">
        <%= yield %>
      </div>
    </main>
  </body>
  </body>
</html>
